.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.x-link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  transition: opacity 0.2s;
}

.x-link:hover {
  opacity: 0.7;
}
