body {
  font-family: 'Merriweather', serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .header {
    width: 90%;
  }

  .article-links {
    width: 90%;
  }
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.x-link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  transition: opacity 0.2s;
}

.x-link:hover {
  opacity: 0.7;
}

.article-links {
  width: 50%;
  margin-top: 2rem;
}

.article-link {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
  transition: opacity 0.2s;
}

.article-link:hover {
  opacity: 0.7;
}
