body {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

.app-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.title-link {
  text-decoration: none;
  color: inherit;
}

.container {
  min-height: calc(100vh - 8rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .header-content {
    padding: 0 1rem;
  }

  .article-links {
    width: 90%;
  }
}

.title {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}

.x-link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  transition: opacity 0.2s;
}

.x-link:hover {
  opacity: 0.7;
}

.article-links {
  width: 50%;
  margin-top: 2rem;
}

.article-link {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
  transition: opacity 0.2s;
}

.article-link:hover {
  opacity: 0.7;
}
